# --------------------------------------------------------
# zsh configuration
# --------------------------------------------------------

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="aphrodite/aphrodite" # https://github.com/win0err/aphrodite-terminal-theme

# History
# ZSH tweaks that fix several things, icluding ignore any duplicate cmds from appearing :)
HISTSIZE=8000
HISTFILE=~/.zsh_history
SAVEHIST=$HISTSIZE
HISTDUP=erase
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups

# updates
zstyle ':omz:update' mode auto      # update automatically without asking
zstyle ':omz:update' frequency 13

# Plugins
plugins=(git history zsh-syntax-highlighting zsh-autosuggestions) # Limited to save on speed
source $ZSH/oh-my-zsh.sh

# -------- [ Custom Configurations ] --------
# Export parameters
export MANPATH="/usr/local/man:$MANPATH"
export PATH=$HOME/.local/bin:$PATH
# F*cking ensure that VIM is always the editor and not vi.
export EDITOR=vim
# Compilation flags
export ARCHFLAGS="-arch x86_64"

# ------ [ MacOS stuff ] ----------
# Fix brew path
export PATH=/opt/homebrew/bin:$PATH
export PATH="$HOME/Library/Python/3.9/bin:/opt/homebrew/bin:$PATH"

# -------- [ Alias & others ... ] --------

# Moved from .zsh_alias to make it easier to manage >_>
alias ddebian="docker pull debian:trixie && docker run -it debian:trixie /bin/bash"
alias p="cd ~/Developer"
alias n="cd ~/Documnents/notes"
alias python="python3"
alias rsyncmulti="python3 ~/.dotfiles/bin/rsyncmulti.py"
alias rsync="rsync" # hack to use brew version of rsync instead of built-in outdated version. thanks apple.
alias macupdate="brew update; brew upgrade; brew cleanup"
alias tf="terraform"
alias gaa="git add ."
